@font-face
  font-family MullerBold
  src url('/fonts/MullerBold.woff2') format('woff2')
  font-weight bold
  font-style bold

@font-face
  font-family Muller
  src url('/fonts/MullerRegular.woff2') format('woff2')
  font-weight normal
  font-style normal
