@import './fonts.styl'

html
  font-size 14px

body
  margin 0

p
ul
  margin 0
  padding 0

a
  text-decoration: none

.wrapper
  max-width 1140px
  margin 0 auto

.btn
  padding 1.5rem
  border-radius: 30px
  border 1px solid $blue
  color $blue
  background-color transparent
  font-size 1.1rem
  font-family MullerBold
  transition .2s linear
  will-change:  background-color, color
  outline-color transparent
  &:hover
    background-color $blue
    color #fff
    cursor pointer
