.swiper-button-next, .swiper-container-rtl .swiper-button-prev,
.swiper-button-prev, .swiper-container-rtl .swiper-button-next
  background-color #fff
  border-radius: 50%
  border 1px solid #333
  width 70px
  height 70px
  transition .3s ease
  opacity 0.1
  will-change: cursor, opacity
  &:hover
    opacity 1