.swiper-container
  max-width 980px
  width 100%

.slider-img
  min-height 450px
  text-align center
  background-position center center !important
  background-size cover !important
  width 100% !important
  text-align center

.btn-next,
.btn-prev
  width 72px
  height 72px
  border 1px solid rgba(0,0,0, 0.3)
  z-index 555
  background-color #fff
  border-radius: 50%
